# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs and database
*.log
*.sqlite3
*.db

# Config and credentials
*.env
.env.local
config.json

# Streamlit-specific
.streamlit/
cache/
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Python wheel files
*.whl
